/* Font face */

@font-face
{
	font-family: AkzidenzGrotesk-LC;
	src: url("fonts/AkzidenzGrotesk-LightCond.otf");
}

@font-face
{
	font-family: AkzidenzGrotesk-BC;
	src: url("fonts/AkzidenzGrotesk-BoldCond.otf");	
}

@font-face
{
	font-family:  Socialico;
	src: url("fonts/Socialico.otf");
	src: url("fonts/Socialico.ttf");
}

@font-face
{
	font-family:  Socialico-Plus;
	src: url("fonts/Socialico-Plus.otf");
	src: url("fonts/Socialico-Plus.ttf");
}

/* General styles
-------------------------------------------------- */
body {
	font-family: Arial;
	font-size: 1.4em;
	height: 100%;
	width: 100%;
	margin-bottom: 60px;
	background-color: #EEE;
}

li {
	list-style-type: none;
}

hr {
	border-top: 1px solid #FFF;
}

a,
a:hover {
	text-decoration: none;
}

.navbar {
	position: relative;
	min-height: 160px;
	margin-bottom: 0px;
	border: 1px solid transparent;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #5FA3A2 0%, #B1D8D8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5FA3A2), color-stop(100%,#B1D8D8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5FA3A2 0%,#B1D8D8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5FA3A2 0%,#B1D8D8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5FA3A2 0%,#B1D8D8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5FA3A2 0%,#B1D8D8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5FA3A2', endColorstr='#B1D8D8',GradientType=0 ); /* IE6-9 */
	z-index: 1;
}

div#mainNav {
	max-width: 1100px;
	min-width: 400px;
	margin: 0 auto;
	color: #FFF;
	margin-top: 20px;
}

div#mainNav div.logoMaru {
	float: left;
}

div#mainNav div.iconoMail {
	float: right;	
}

div#mainNav p {
	margin: 0;
	text-transform: uppercase;
	font-family: AkzidenzGrotesk-LC;
}

div#mainNav p.logoName {
	font-size: 50px;
}

div#mainNav p.logoSurname {
	font-size: 37px;
	font-family: AkzidenzGrotesk-BC;
}

div#mainNav p.logoSpecialty {
	font-size: 14px;
	font-family: Arial;
	text-transform: none;
}

div#mainNav div.iconoMail a {
	font-family: Socialico-Plus;
	font-size: 80px;
	color: #FFF;
	margin-right: 30px;
}

div#mainInformation {
	margin: 0 auto;
	margin-top: 90px;
	max-width: 65%;
	min-width: 500px;
}

div#menuButton {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#mainInformation div.lista > * {
	display: inline-block;
}

div.lista {
	padding-left: 120px;
}

div.lista.conicet {
	background: url("img/conicet-logo.png") no-repeat left center;
	background-size: 9%;
}

div.lista.uba {
	background: url("img/uba-logo.png") no-repeat left center;
	background-size: 9%;
}

div.lista.divan {
	background: url("img/divan-icon.png") no-repeat left center;
	background-size: 9%;
}

div.lista.peron {
	background: url("img/evaPeron-logo.png") no-repeat left center;
	background-size: 8%;
}

div.lista div.listaTexto p {
	font-size: 18px;
	margin: 0;
	margin-bottom: 5px;
}

p+p {margin-bottom: 12px;}

div#footer {
	text-align: center;
}

div#menuButton {
	width: 1100px;
	margin: 0 auto;
}

div.menuBtn a {
	background-color: #FFF;
	height: 50px;
	text-align: center;
	border: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	display: block;
	text-transform: uppercase;
	color: #5DB2AD;
	padding-top: 10px;
	font-size: 20px;
	width: 100%;
	font-family: AkzidenzGrotesk-LC;
}

div.menuBtn {
	position: relative;
	width: 32%;
	bottom: 25px;
	padding: 0;
	display: inline-block;
}

div.menuBtn.active {
	bottom: 0;
}

div.menuBtn.last {
	margin-right: 0;
}

span.subTitleBox h5 {
	display: inline-block;
	background-color: #5DB2AD;
	padding: 10px;
	border-radius: 6px;
	color: #FFF;
	font-style: italic;
	text-transform: uppercase;
	font-size: 0.6em;
}

div#footer p {
	text-transform: uppercase;
	font-family: AkzidenzGrotesk-LC;
	font-size: 25px;
	font-weight: bold;
}

/* Form */
form#maruContacto {
	max-width: 450px;
	margin: 0 auto;
	margin-top: 50px;
}

form#maruContacto input,
form#maruContacto textarea {
	color: #88BEBD;
	height: 50px;
	border: 1px solid #CCC;
	border-radius: 6px;
	margin-bottom: 5px;
	padding: 5px 15px;
	width: 84%;
}

form#maruContacto textarea {
	height: auto;
	resize: none;
}

form#maruContacto button {
	background-color: #88BEBD;
	color: #FFF;
	border: none;
	border-radius: 6px;
	width: 91%;
	height: 50px;
}

form#maruContacto button:hover {
	background-color: #88BEBD;
	color: #FFF;
}

/* Form placeholders */
form#maruContacto input::-webkit-input-placeholder { /* WebKit browsers */
    color: #CCC;
}
form#maruContacto input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CCC;
}
form#maruContacto input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CCC;
}
form#maruContacto input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #CCC;
}

form#maruContacto textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #CCC;
}
form#maruContacto textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CCC;
}
form#maruContacto textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CCC;
}
form#maruContacto textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #CCC;
}

